<?xml version="1.0" encoding="utf-8" ?>
<!--This is the root of your config file-->
<configuration>
  <!--This specifies what the section name is-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--程序初始化配置信息-->
    <add key="Fleet" value="3"/>
    <add key="Bus" value="15,20,10"/>
    <add key="BusSeat" value="5"/>
    <add key="BusLength" value="18"/>
    <add key="BusSpeed" value="80,100"/>
    <add key="Passenger" value="60"/>
    <add key="Line" value="3"/>
    <add key="Station" value="20,20,20"/>
    <add key="Map" value="13660,7680"/>
    <add key="L_1" value="500,3000,13160,3000"/>
    <add key="L_2" value="7000,500,7000,7180"/>
    <add key="L_3" value="3000,2000,10660,2000,10660,5680,3000,5680"/>
  </appSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger>
      <level />
      <appender-ref />
    </logger>
  </log4net>
</configuration>